
@{
	ViewBag.Title = "BoxSetting";
}
<script src="~/Scripts/Jquery/BoxSettingJquery.js"></script>
<div id="ImageInputButton"></div>
<input id="Input" type="file" accept=".png" style="display:none;" />
<div id="MapBackground"></div>
<div id="TestMap" style="background-color:black;">

</div>